*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.header {
    background-color: #007acc;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 20%;
    align-items: center;
    color: #ffd700;
    font-family: "Poppins", serif;
    font-weight: bold;
    padding-left: 2%;
}
.navigation ul {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 5%; 
    list-style: none;   
}
.navigation a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    font-family: "Montserrat", serif;
}
.navigation  {
    display: flex;
    width: 60%;
    text-align: center;
    justify-content: flex-end;
}
.navigation a:hover{
   color: #ffd700;
}
.btnlogin{
    padding: 10px 12px;
    background-color: #ffd700;
    color: #000000;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-family: "Roboto", serif;
}
.btnlogin:hover {
    background: #ff8c00;
    color: #ffffff;
    transition: 0.5s;
   
}
.booking{
    padding: 10px 10px;
    background-color: #ffd700;
    color: #000000;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-family: "Roboto", serif;
}
.booking:hover{
    background: #ff8c00;
    color: #ffffff;
    transition: 0.5s;
}
.hero-saction{
    width: 100%;
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.1)), url(img/hero1.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    justify-items: center;
    align-content: center;
}

.hero-saction h1{
    padding: 10px 0px;
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 36px;
     text-shadow: 1px 1px 0.5px black; 
    margin-bottom: 1%;
    color: #ffffff;
}
.hero-saction p {
    margin-bottom: 2%;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1px 1px 0.2px black;
    font-family: "Roboto", serif;
    color: #ffffff;

}
.hero-saction button{
    background-color: #ffd700;
    padding: 10px 20px;
    border-radius: 25px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor:  pointer;
    font-family: "Roboto", serif;
}
.hero-saction button:hover{
    background: #ff8c00;
    color: #ffffff;
    transition: 0.5s;
}
.section-1{
    width: 100%;
    padding: 30px 0px;

}
.section-1 h2{
     font-size: 36px;
     text-align: center;
     font-family: "Poppins", serif;
}
.cartrow{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 40px;
}
.cart1{
    width:  250px;
    box-shadow: 0px 0px 5px 2px #ccc;
    border-radius: 10px;
    text-align: center;
    
}
.cart1 img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    object-fit: cover;
    
}
.cart1 h2{
    font-size: 25px;
    margin-top: 2%;
    font-family: "Poppins", serif;
}
.cart1 p{
    margin: 5%;
    font-family: "Roboto", serif;
    text-align: justify; 
    font-weight: 400;
}
.cart1 button{
        padding: 3% 10px;
        background-color: #ffd700;
        border-radius: 10px;
        color: #000000;
        margin: 5%;
        border: none;
        font-weight: 800;
        font-family: "Roboto", serif;

}
.cart1 button:hover{
      background-color: #ff8c00;
      transition: 0.7s;
      
} 
.cart1 ul{
    list-style-type: square;
    font-size: 13px;
    list-style-position: inside;
    padding-left: 8px;
    text-align: justify;
    margin-bottom: 2%;
    line-height: 1.6;
    font-weight: 500;
}
.section2{
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 3%;
}
.section2 h2{
    font-size: 36px;
    padding-top: 3%;
    font-family: "Poppins", serif;
    word-spacing: 10px;
    text-transform: capitalize;
    text-align: center;
}
.guide {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    margin-left: 1%;
}
.guide1{
    text-align: center;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 2%;
}
.guide1 h3{
    font-size: 18px;
    font-family: "Poppins", serif;
}
.guide1 p{
    font-size: 15px;
    font-family: "Roboto", serif;

}
.section2 :nth-child(3) {
    margin-bottom: 2%;
}
/* .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
}
.row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.row1 .col1 img{
    width: 300px;
    height: 200px;
}
.row1 .col2 img{
    width: 200px;
    height: 400px;
}
.row2 .col1{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.row2 .col1 img{
    width: 100px;
    height: 10px;
}
.cal2{
    width: 100px;
    height: 10px;
} */